.wrap{
    display: flex;
}

.wrap > div {
    width: 50%;
    padding: 10px;

}

form input, form textarea{
    display: block;
    margin: 5px;
    width: 100%;
}

form textarea{
    min-height: 100px;
}
