$modalPadding: 10px 15px;

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
    display: none;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    &_active {
        display: flex;
    }

    &_confirm {}

    &_alert {}

    &_promt {}

    &__window {
        background-color: #fff;
        max-width: 650px;
        width: 100%;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
    }

    &__header {
        border-bottom: 1px solid gray;
        padding: $modalPadding;
        position: relative;
    }

    &__title {}

    &__close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        width: 25px;
        height: 25px;
        background-color: gray;
        color: #fff;
        text-decoration: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0.5;
    }

    &__content {
        flex-grow: 1;
        padding: $modalPadding;
    }

    &__text {}

    &__promt {

        .modal_alert &,
        .modal_confirm & {
            display: none;
        }
    }

    &__footer {
        border-top: 1px solid gray;
        padding: $modalPadding;
        display: flex;
        justify-content: flex-end;
    }

    &__btn {
        padding: 5px 20px;
        border: none;
        border-radius: 15px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;

        &:last-child {
            margin-left: 15px;
        }

        &-ok {
            background-color: green;
        }

        &-cansel {
            background-color: indianred;

            .modal_alert & {
                display: none;
            }
        }
    }
}
