.button{
    height: 40px;
    width: 184px;
    transition: transform .3s ease;
    background-color: $buttonBgColor;
    border: 1px solid $buttonBorderColor;
    opacity: 0.5;
    &:hover{
        transform: scale(1.02);
    }
    &:active{
        transform: scale(0.97);
    }
    &:active, &:focus{
        outline: none;
    }
    &__text{
        font-family: $defaultFont;
        font-size: 14px;
        font-weight: 100;
        color: $buttonTextColor;
        text-align: center;
    }
}
