$firstFont: 'Museo Sans Rounded';


$follbak: Arial, Helvetica, sans-serif;

$defaultFont: $firstFont, $follbak;

$alizarinCrimson: #ed3333;
$white: #ffffff;
$mercury: #e1e1e1;
$mirage: #1f273f;
$brightTurquoise: #29e3ea;
$ebony: #111a28;
$trout: #4c525a;
$frenchGray: #c5c5c8;
$lightningYellow: #f7bf16;

$buttonBgColor: $trout;
$buttonBorderColor: $white;
$buttonTextColor: $mercury;
$product-cardBg: $ebony;
$dotsChecked: $frenchGray;
$dotsBlac: $mirage ;
$dotsWhite: $white ;
$dotsRed: $alizarinCrimson ;
$dotsBlue: $brightTurquoise ;
$textColor: $mercury;
$data-listBorderColor: $white;
$optionBg: $ebony;
