@font-face {
    font-family: miso;
    src: url('../fonts/Miso.woff2') format("woff2"),
        url('../fonts/Miso.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: miso;
    src: url('../fonts/Miso-Bold.woff2') format("woff2"),
    url('../fonts/Miso-Bold.woff') format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format("woff2"),
    url('../fonts/Lato-Light.woff') format("woff");
    font-weight: 'light';
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}

main{
    box-sizing: border-box;
    background-color: #fdde7e;
    width: 1200px; 
    height: 600px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section{
    box-sizing: border-box;
    width: 360px;
    height: 440px;
    background-color:white;
    border-radius: 4px;
    text-align: center;
    padding-top: 32px;
    box-shadow: 0 1px 2px 1px #cab265;
}

section.gold{
    height: 500px;
    padding-top: 40px;
}

p{
    font-family: miso;
    font-size: 70px;
    font-weight: bold;
    color: #02995b;
    padding-bottom: 15px;
    line-height: 1;
}

.gold p{
    padding-bottom: 40px;
}

div{
    box-sizing: border-box;
    margin-left: 15px;
}

h1{
    margin-top: 23px;
    font-family: miso;
    font-weight: normal;
    font-size: 54px;
    color: #333333;
    padding-bottom: 17px;
}

.gold h1{
    margin-top: 30px;
}

span{
    font-family: 'Lato';
    font-weight: 'light';
    font-size: 20px;
    color:#4e4e4e;
    line-height: 1.4;
    letter-spacing: 1px;
}
