@include fontFace('Pacifico', '../fonts/pacifico-v17-latin-regular', normal , 400);

@include fontFace('Raleway', '../fonts/raleway-v18-latin-300', normal , 300);

@include fontFace('Raleway', '../fonts/raleway-v18-latin-700', normal , 700);

@include fontFace('Raleway', '../fonts/raleway-v18-latin-900', normal , 900);
