.logo {
    &__link {
        text-decoration: none;
    }

    &_title {
        font-family: $logoFont;
        font-weight: 400;
        font-size: 50px;
        color: $colorHeadertext;
        margin: 0;
        padding: 0;
    }
}
