.menu{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    &__item{
        text-align: center;
        list-style-type: none;
        font-family: 'Raleway';
        font-size: 16px;
        font-weight: 700;
        padding: 0 15px;
        color: $colorHeadertext;
        text-transform: uppercase;
        position: relative;
        margin: 0;
        &:hover::before{
            content: '';
            border-top: solid 3px $colorMenuHover ;
            position: absolute;
            width: calc(100% - 30px);
            top: 0;
            left: 15px;
        }
    }
    &__link{
        padding: 9px 0;
        display: block;
        text-decoration: none;
    }
}
