$firstFont: 'Raleway';
$secondFont: 'Pacifico';


$follbak: Arial, Helvetica, sans-serif;

$defaultFont: $firstFont, $follbak;
$logoFont: $secondFont, $follbak;

$mineShaft: #262626;
$outrageousOrang: #ff6033 ;
$white: white;
$blue: #00c4c4;

$colorHeadertext: $mineShaft;
$colorMenuHover: $outrageousOrang;
$colorButtomOrange: $outrageousOrang;
$colorButtomOrangeText:$white;
$colorTextBlack: $mineShaft;
$colorTextWhite: $white;
$colorBgBlue: $blue;
