.btn {
    display: inline-block;
    padding: 0 12px;
    color: $secondaryTextColor;
    font-family: $secondaryFonts;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 auto;
    text-decoration: none;
    line-height: 1.6;

    &_primary {
        border: 1px solid $mainColor;
    }
}
