* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/proximaNova.ttf");
}
body {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
}
.wrapper {
  width: 100%;
  text-align: center;
}
.storage {
  margin: 50px;
  display: inline-block;
  width: 230px;
}
.pictures {
  fill: #1275b9;
  fill-rule: evenodd;
}
.circle {
  border-radius: 50%;
  border: 2px solid #1275b9;
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
}
.circle:hover {
  background-color: #1275b9;
}
.circle:hover .pictures {
  fill: white;
}

svg {
  fill: white;
  position: relative;
  top: 12px;
  left: 1px;
  margin: auto;
}
h2 {
  font-size: 20px;
  font-weight: solid;
  text-transform: uppercase;
  padding-top: 10px;
}
.storage p {
  font-weight: lighter;
  color: #9d9d9d;
  padding-top: 15px;
}
