* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    color: white;
}

main{
    max-width: 1468px;
    min-width: 900px;
    border: 25px solid #2b81ac;
    padding: 30px;
    box-sizing: border-box;
    background-color:#3399cc;
}

div{
    box-sizing: border-box;
    margin: 0 auto;
}

h1{
    font-size: 32px;
    font-weight: bold;
}

div > ul{
    font-size: 0;
    max-width: 984px;
    box-sizing: border-box;
    border-top: 5px solid white;
    border-left: 5px solid white;
    font-size: 0;
}

li {
    display: inline-block;
    list-style-type: none;
    font-size: 26px;
    font-weight: normal;
    box-sizing: border-box;
    width: 25%;
    padding: 30px;
    margin: 0 auto;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}

li.wide{
    width: 50%;
}

li.extrawide{
    width: 100%;
}
