.error {
    border: red 1px solid;
    border-radius: 5px;
}

.error-mesage {
    color: red;
    font-size: 10px;
}

form div {
    padding: 10px;
}

.required label::after {
    content: '*';
    font-weight: 800;
}
