.blog_purpule {
    width: 100%;
    background-color: $blogPurpuleBg;
    padding-bottom: 120px;
}

.blog_purpule__item {
    margin: 0 auto;
    padding-top: 100px;
    font-size: 90px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
}

.blog_purpule__text {
    margin: 0 auto;
    padding-top: 50px;
    max-width: 563px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
}

.calendar {
    margin-top: 47px;
    justify-content: center;
}

.event {
    max-width: 370px;
    position: relative;
}


.data {
    color: $dataColor;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(38, 38, 38, 0.5);
    top: 30px;
    left: 45px;
}

.data__text {
    font-size: 21px;
    font-weight: 900;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}

.data__span {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    text-align: center;
    padding-bottom: 5px;
}

.event__item {
    max-width: 310px;
    color: $eventItem;
    position: absolute;
    top: 209px;
    left: 35px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
}

.event__text {
    color: $eventText;
    position: absolute;
    left: 35px;
    top: 275px;
    font-size: 13px;
    font-weight: 300;
}

.gradient {
    margin: 0 auto;
    max-width: 370px;
    text-align: center;
    position: relative;
    line-height: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
}

.gradient__img {
    display: block;
    width: 100%;
}

.gradient::before {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 143px;
    background: transparent;
    background-image: linear-gradient(to top, rgba(13, 12, 12, 1) 0%, transparent 100%);
    opacity: 0.8;
}

.button_blog_purpule {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 50px auto 0px;
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: $buttonBlogPurpule;
    color: $buttonText;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}
