@font-face {
    font-family: "Proxima Nova";  
    src: url("/fonts/Proxima_Nova.otf");
}

@font-face {
    font-family: "Futura PT Heavy";
    src: url("/fonts/FuturaPT.ttf");
}

@font-face {
    font-family: "Georgia";
    src: url("/fonts/Georgia.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Georgia";
}

body {

    background-color: #464f54;
    position: relative;
}

input {
padding: 0;
margin: 0;
border: 0;
border: none;
outline: none;
}

h1 {
    margin-top: 40px;
    font-family: "Futura PT Heavy";
    font-size: 78px;
    /* font-weight: lighter; */
    text-transform: uppercase;
}

.area {
    position: relative;
    margin: 150px auto 0;
    padding:200px 120px 0;
    height: 100%;
    max-width: 1060px;
    background-color: #fff;
}

.title-input {
    position: absolute;
    top: -105px;
    left: 255px;
    height: 185px;
    width: 100%;
    padding-top: 50px;
    padding-left: 60px;
    background-color: #181818;
    color: #fff;
    z-index: 9;
}

.control-bar {
    position: absolute;
    top: 80px;
    left: 315px;
    height: 80px;
    width: 100%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    background-color: #fabe2d;
    font-size: 28px;
    color: #fff;
}

.control-bar i {
    opacity: 0.5;
    margin: 10px;
    cursor: pointer;
}

.control-bar i:hover {
    opacity: 1;
}

.comment {
    text-transform: uppercase;
    font-family: 'Proxima Nova';
    font-size: 15px;
    letter-spacing: 0.5em;
    opacity: 0.5;
}

.input-area {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    background-color: #181818;
    color:#fff;
    border-bottom: 1px solid #aaaaaa;
    width: 100%;
    padding-bottom: 10px;
}

input.text:focus {
    border:none;
}

.text-area p {
    font-size: 27px;
    margin-top: 20px    
}

.text-area .question {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 30px;
    font-style: italic;
    opacity: 0.5;
}

.text-area::before {
    content: '';
    position: absolute;
    top: 0;
    left: 70px;
    width: 2px;
    height: 100%;
    border-left: 2px solid #e8ebec;
}