 #form {
     width: 500px;
 }

 .btn {
     display: flex;
     justify-content: space-between;
 }

 .error .required::after {
     color: red;
     font-size: 20px;
 }

 .error [data-required] {
     border: 1px solid red;
 }

 .required::after {
     content: "*";
 }
