.page {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 300;
    background-image: url('../images/bg-img1.png');
    background-repeat: no-repeat;
    max-width: 1500px;
}

.header_center {
    padding: 30px 170px 0 170px;
}

.header__menu{
    display: flex; 
    justify-content: space-between;
    text-align: center;
}

.header__logo{
    font-family: 'Pacifico' , Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 400; 
    
}
.logo__link{
    text-decoration: none;
    color: #262626;
}

.menu__list{
    display: flex;
    list-style-type: none;
    text-decoration: none;     
}

.menu__item {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
    margin-right: 30px;  
}

.menu__link {
    text-decoration: none; 
    color: #262626;    
}

.menu__link:hover{
    border-top:  solid 3px  #ff6033;;
}

.main-block_center{
    padding: 250px 170px 0 170px; 
}

.main-block__title{
    font-size: 60px;
    color: #262626;
    font-weight: 900;
    line-height: 25px; 
}

.main-block__text{
    max-width: 378px;
    color: #262626;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

.main-block__button{
    width: 200px;
    height: 55px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 37px;
}

.main-block__button_bg-orange{
    background-color: #ff6033;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
}

.main-block__button_bg-orange:hover{
    background-color: #ff603050;
}

.scroll_center{
    padding-top: 250px;
    margin-bottom: 100px;
    position: relative;
}
.scroll__scroll-img{
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
}

.about-block_bg-green{
    position: relative;
    padding: 400px 0 300px 0;
    background-image: url('../images/footer.png');
    background-color: #00c4c4;
    background-repeat: no-repeat;
}

.about-block_center {
    position: absolute;
    max-width: 500px;
    right: 200px;
    top: 150px;
}

.about-block__title {
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    line-height: 20px;
}

.about-block__text{
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}
