*{
    margin: 0;
    padding: 0;
    /*transition: all .1s ease-in;*/
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.57;
}
.namaste_green{
    text-align: center;
}
.wrapper_hed{
    max-width: 550px;
    margin: 0 auto;
    padding-top: 137px;
    padding-bottom: 74px;
}
.wrapper_hed>p{
    text-indent:0;
    font-size: 14px;
    letter-spacing: 0.208em;
    text-transform: uppercase;
    color: #898f99;
    font-weight: bold;
    font-style: normal;
}
.wrapper_hed>h1{
    padding-top: 8px;
    padding-bottom: 18px;
    letter-spacing: 0.11em;
    font-size: 48px;
    text-transform: uppercase;
    color: #0ec8cb;
    font-weight: normal;
    font-style: normal;
}
.wrapper_hed>p>span{
    letter-spacing: 0.069em;
    font-size: 18px;
    color: #999999;
    font-family: 'PT Sans';
    font-weight: normal;
    font-style: normal;
}
.box_menu{
    font-size: 0;
    max-width: 968px;
    margin: 0 auto;
}
.box{
    height: 421px;
    padding: 0 26px 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    width: 236px;
    box-sizing: border-box;
    border:1px solid #ececec ;
    background-color: #f7f7f7;
}
.box:not(:first-child){
    border-left: none;
}
.box svg{
    margin: 56px auto 0;
    height: 66px;
    fill: black;
}
.box h2{
    vertical-align: middle;
    line-height: 1.3;
    margin: 34px auto 19px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
}
.box p{
    font-size: 14px;
    color: #777777;
    font-weight: 'PT Sans';
    font-weight: normal;
    font-style: normal;
}
.box:hover{
    width: 242px;
    color: white;
    background-color: #0ec8cb;
}
.box:hover p{
    color: white;
}
.box:hover svg{
    fill: white;
}
