@font-face{
    font-family: Lato;
    src: url(../fonts/Lato-Bold.woff2) format('woff2'),
    url(../fonts/Lato-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: Lato;
    src: url(../fonts/Lato-Light.woff2) format('woff2'),
    url(../fonts/Lato-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}

.area{
    box-sizing: border-box;
    max-width: 1600px;
    min-width: 1200px;
    font-family: Lato, sans-serif;
}

.container{
    padding-bottom: 85px;
}

.row{
    justify-content: center;
}

.people{
    margin-top: -15px;
}

.persons{
    display: block;
    box-sizing: border-box;
    height: 268px;
}

.person{
    position: relative;
    transition: 2s;
    transform-style: preserve-3d;
}

.backside{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    background-color: #18b5dc;
    height: 268px;
    width: 269px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.item{
    position: relative;
    margin: 2px;
    height: 42px;
    width: 42px;
    background-color: #5ecbe7;
    text-align: center;  
}

.item:hover{
    transform: scale(1.1, 1.1);
}

.item img{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -25%;
    margin-left: -25%;
}
.photo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    backface-visibility: hidden;
}

.person:hover{
    transform: rotateY(180deg);
}

.name{
    margin-top: 17px;
}

.main_title{
    text-align: center;
}

h1{
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    padding-top: 70px;
    padding-bottom: 5px;
}

h1+div{
    padding-bottom: 26px;
}

h2{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

p{
    font-size: 14px;
    font-weight: 300;

}

.main_title p{
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 27px;
}


