* {
    padding: 0;
    margin: 0;
  }
body {
    height: 100%;
    font: "Tebuchet MC", Arial, sans-serif;
    border: 25px solid #fff;
    background-color: #3B3F45;
    color: #F9F9F9;
}
.header,
.footer {
    text-align: center;
    background: #4A4F56;
    padding: 20px 0;
    color: #eb7e7f;
  }
h1,
h2,
h3
{
    color: #eb7e7f;
    font-weight: 600;
}
h1 {
    font-size: 36px;
}
h4 {
    font-size: 24px;
    font-weight: 400;
    color: #eb7e7f;
}
.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 40px 20px;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0 0 40px;
}
.list li {
    background: #7a7593;
    border: 0 solid #fff;
}
.list li:nth-child(odd) {
    background: #88839e;
}
.list li:hover {
    background: #625e77;
    border-width: 4px 0;
}
.list li:active {
    background: #eb7e7f;
}
.list [type="checkbox"] {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    cursor: pointer;
    margin-right: 10px;
}
.list [type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: #a3a0b5;
}
.list [type="checkbox"]:checked + span .text {
    color: inherit;
}
.list label {
    display: block;
    cursor: pointer;
    padding: 15px;
}
.list .text{
    font-size: 60%;
    color: #cdcbd6;
    vertical-align: middle;
}
.list .text:before {
    content: '(';
}
.list .text:after {
    content: ')';
}
