* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url(../fonts/proximaNova.woff2) format('woff2'),
         url(../fonts/proximaNova.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novalight';
    src: url(../fonts/proximaNovaLight.woff2) format('woff2'),
         url(../fonts/proximaNovaLight.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'proxima_novaregular';
    font-size: 14px;
    width: 1500px;
    margin: auto;
    }

.border {
    margin: auto;
    margin-top: 56px;
    display: flex;
    max-width: 860px;
}

section {
    width: 33.3%;
    margin-right: 30px;
    margin-left: 30px;
}

.circle {
    background: #1275B9;
    border: 2px solid #1F7DBD;
    border-radius: 50%;
    height: 63px;
    width: 65px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    margin-bottom: 10px;
}

.circle svg {
    margin: auto;
}

svg {
    fill: #fff;
}

.circle:hover svg {
    fill:#2a69a6;
}

.circle:hover {
    background-color: white;
}

h2{
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    padding-bottom: 10px;
}

p { 
color: #9d9d9d;
font-size: 14px;
font-weight: lighter;
line-height: 20px;
text-align: center;
letter-spacing: 0.35px;
}
