*{
    margin: 0;
    padding: 0;
}

body{
    font-family: proximanova, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
.main
{
    width: 600px;
    margin:0 auto;
    padding: 20px;
    font-size: 0;
}

.main li {
    font-size: 14px;
    display: inline-block;
    border: 1px solid black;
    
    padding: 5px;
}
.main a:hover
{
    color:green;
    background-color: red;
}
a {
    display: block;
}
