body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color: #171717;
    font-size: 18px;
    font-weight: 300;
    line-height: 34px;  
}

.chapter {
    font-family: "Playfair Display";
    color: #171717;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: -0.21px;
    padding-bottom: 39px;
    padding-top: 140px;
}

.wrapper {
    padding-top: 140px;
    
}
.container{
    box-shadow: 0 4px 68px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent; 
}

.main-content-letter::first-letter{
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    color: #171717;
    font-size: 110px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.55px;
    float: left;
    line-height: 90px;
}

.main-content,
.main-content-letter{
    padding-bottom: 30px;
    text-align: left;
}

.main-quote span{
    font-size: 60px;
    font-style: italic;
    line-height: 40px;
    padding-right: 20px;
}
.main-quote {
    font-style: italic;
    font-size: 24px;
    letter-spacing: -0.12px;
    line-height: 34px;
}
.discover-btn{
    width: 264px;
    height: 68px;
    border: 2px solid #eaa258;
    text-transform: uppercase;
    text-align: center;  
    color: #eaa258;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
}

.discover-btn:hover,
.discover-btn:active{
    color: white;
    background-color: #ee9943;
}

.discover-btn:checked{
    background-color: #438dee;;
}
