@font-face{
    font-family: PlayfairDisplay;
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: Lato;
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: Lato;
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.page{
    margin: 0;
    padding: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.conteiner{
    max-width: 1600px;
    padding-top: 130px;
    background-color: white;
    align-items: center;
}

.conteiner_centering{
    margin: 0 auto;
}

.willow-article{
    margin: 0 auto;
    width: 1400px;
    box-sizing: border-box;
    padding: 128px 0 121px;
    background-color: #ffffff;
    text-align: left;
    box-shadow: 0 0 50px 20px #f2f2f2;
}

.willow-article_centering{
    margin: 0 auto;
    width: 1160px;
}
.willow-article__author-header{
    margin: 0;
    padding-left: 2px;
    padding-bottom: 18px;
    font-family: PlayfairDisplay, 'Times New Roman', Times, serif;
    color: #171717;
    font-weight: normal;
    font-size: 42px;
}

.willow-article__text-p{
    margin: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #7a7a7a;
    letter-spacing: .95px;
    line-height: 1.9;
    padding-bottom: 5px;
}

.willow-article__text-p::first-letter{
    font-size: 110px;
    float: left;
    font-family: PlayfairDisplay, 'Times New Roman', Times, serif;
    color: #171717;
    font-weight: normal;
    line-height: .8;
    margin: 0 29px 0 -1px;
}

.willow-article__text-quotation{
    margin: 0;
    font-weight: 300;
    font-style: oblique;
    font-size: 24px;
    color: #7a7a7a;
    letter-spacing: 1.3px;
    padding-bottom: 31px;
}

.willow-article__text-quotation::before{
    content: open-quote;
    font-size: 60px;
    margin: 0 22px 0 0;
}

.willow-article__text-button{
    box-sizing: border-box;
    display: block;
    border: 2px solid #eaa258;
    color: #eaa258;
    font-weight: bold;
    font-size: 18px;
    width: 264px;
    padding: 21px;
    text-align: center;
    letter-spacing: 3.5px;
}
