.about-us {
    @include bgCover ('../images/bg-section2.jpg');
        

        &__wrapper{
            padding-top: 378px;
            padding-bottom: 300px;
            max-width: 500px;      
        }

       

        &__title{
            color: $secondaryTextColor;
            font-size: 90px;
            font-weight: 700;
            line-height: 1.1;
            margin-bottom: 30px;
        }
        &__text {
            color: $secondaryTextColor;
            font-size: 17px;
            font-weight: 300;
            line-height: 24px;
        }
        @media screen and (max-width: 768px) {
           &__wrapper {
               margin-right: 30%;
           }
        }
    }
