.blog {
    background-color: $blogBgColor;
    background-size: cover;

    @media (max-width: 1200px){
        .blog__main_row{
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__wrapper {
        padding-top: 70px;
        padding-bottom: 200px;
    }
}

.blog-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    &__title {        
        color: $secondaryTextColor;
        font-size: 90px;
        font-weight: 700;
        padding-bottom: 30px;
        margin: 0 auto;
    }
    &__text{    
        color: $secondaryTextColor;
        font-size: 17px;
        font-weight: 300;
        margin: 0 auto;
    }
}

.blog-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 100px;   
    &__items{
        position: relative;
        &::after{
            position: absolute;
            box-sizing: content-box;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }
    &__img {  
        display: block;
        max-width: 370px;
        position: relative;
    }
    &__title,
    &__author,
    &__date {
        position: absolute;
        color: $secondaryTextColor;
    }

    &__title {
        max-width: 360px;
        font-size: 20px;
        font-weight: 700;
        top: 210px;
        z-index: 1;
        padding-left: 20px;
    }
    &__author {
        font-size: 13px;
        top: 270px;
        font-weight: 300;
        padding-left: 20px; 
    }

    &__date {
        width: 60px;
        height: 60px;
        border: 1px solid transparent;
        border-radius: 5px;
        top: 30px;
        left: 30px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 32px;
        line-height: 26px;
        background-color:rgba(38, 38, 38, 0.5);
        text-align: center;
        z-index: 1;  
    }
    &__month {   
        font-size: 21px;
    }
}

.blog__button-view-more {
    display: block;
    min-width: 200px;
    min-height: 55px;
    font-size: 20px;
    color: $secondaryTextColor;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: $blogButton; 
    border: 1px solid $blogButton; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);  
    &:hover {
        background-color: $blogHoverButton; 
    }
}
