.cahee {
	@include bgCover("../images/bg-section1.png");

	&__wrapper {
		height: 100vh;
		position: relative;
	}
}

.header_center {
	margin: 0 auto;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.header__logo {
	font-family: "Pacifico", Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: 400;
}

.logo__link {
	text-decoration: none;
	color: $mainTextColor;
}

.menu__list {
	display: flex;
	list-style-type: none;
	text-decoration: none;
	@media screen and (max-width: $LG) {
		display: none;
	}
}

.menu__item {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 25px;
	margin-right: 30px;
}

.menu__link {
	text-decoration: none;
	color: $mainTextColor;
	&:hover {
		padding-top: 10px;
		border-top: solid 3px $freshLifeOverlineButton;
	}
}

.fresh-life {
	padding-top: 250px;
	@media screen and (max-width: $LG) {
		padding-top: 100px;
	}
	&__title {
		font-size: 60px;
		color: $mainTextColor;
		font-weight: 900;
		line-height: 85px;
	}
	&__text {
		max-width: 378px;
		color: $mainTextColor;
		font-size: 17px;
		font-weight: 300;
		line-height: 27px;
		padding-bottom: 30px;
	}
	&__button_free {
		display: inline-block;
		box-sizing: border-box;
		text-align: center;
		padding-top: 17px;
		background-color: $freshLifeOverlineButton;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
		min-width: 200px;
		min-height: 55px;
		color: $secondaryTextColor;
		font-size: 20px;
		font-weight: 300;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			background-color: #ff603050;
		}
	}
}

.scroll {
	&__scroll-img {
		position: absolute;
		top: 90%;
		right: 50%;
		transform: translateX(-50%);
	}
}

.menu {
	&__button {
		display: none;
		position: relative;
		width: 30px;
		height: 30px;
		&_line,
		&::after,
		&::before {
			position: absolute;
			background-color: $freshLifeOverlineButton;
			content: "";
			width: 25px;
			height: 3px;
			left: 5px;
		}
		&::before {
			top: 5px;
		}

		&::after {
			top: 15px;
		}

		&_line {
			top: 25px;
		}

		@media screen and (max-width: $LG) {
			display: block;
		}
	}
	&__input:checked {
		@media screen and (max-width: $LG) {
			& ~ .menu__list {
				display: block;
			}
			& ~ .menu__button::before {
				transform: rotate(45deg);
				top: 10px;
			}
			& ~ .menu__button::after {
				transform: rotate(-45deg);
				top: 10px;
			}
		}
	}

	.menu__link {
		@media screen and (max-width: &LG) {
			border-top: 3px solid $freshLifeOverlineButton;
		}
	}
}
