@font-face {
    font-family: "Raleway";
    src: url('./fonts/ralewayHeavy.woff2') format('woff2'),
    url('./fonts/ralewayHeavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background-color: #b07cf7;
    width: 1500px;  
}

.main-title {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 47px;
    max-width: 569px;
    text-align: center;
    margin-left: 655px;
}

.main-title h1{
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    padding-bottom: 30px;
}

.main-title p{
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
}

.menu {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-left: 165px;
    padding-right: 165px;
    margin-bottom: 50px;   
}

.items {
    position: relative;
}

.items img {
    max-width: 370px;
    margin-right: 30px;
}

.items h2 {
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    top: 210px;
    z-index: 1;
    padding-left: 20px;
}

.items p {
    position: absolute;
    color: #ffffff;
    font-size: 13px;
    top: 270px;
    font-weight: 300;
    padding-left: 20px;    
}

.items::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    width: 370px;
    height: 310px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

 .date {
    position: absolute;
    color: #ffffff;
    width: 60px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 5px;
    top: 30px;
    left: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    background-color:rgba(38, 38, 38, 0.5);
    text-align: center;
    z-index: 1;  
}

.date:nth-child(1){ 
    font-size: 32px;
}

.date:nth-child(2){
    font-family: "Raleway";
    font-size: 21px;
}

button {
    display: block;
    width: 200px;
    height: 55px;
    color: white;
    text-transform: uppercase;
    background-color: #f72b3b; 
    text-align: center;
    border: 1px solid #f72b3b;
    margin-left: 800px;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);    
}
