.header {
    padding: 130px 0 98px 20px;
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.slogan {
    font-weight: 700;
    font-size: 12px;
    color: $manatee;
    letter-spacing: 5px;
    margin-bottom: 21px;
}

.title {
    margin-left: -18px;
    font-size: 48px;
    font-weight: 600;
    color: $bright_turquoise;
    letter-spacing: 4.4px;
    margin-bottom: 25px;
}

.subtitle {
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 18px;
    color: $silver_chalice;
    letter-spacing: 1.2px;
    margin: 0 20px 0 0;
    line-height: 1.667;
}
