$defaultFontName: 'Montserrat';
$fontStyle: normal;

$follback: Arial,
Helvetica,
sans-serif;
$mainFont: $defaultFontName,
$follback;

$secondaryFontName: 'pt-sans';
$secondaryFont: $secondaryFontName,
$follback;

// Colors:
// Fonts:
$manatee: #898f99;
$bright_turquoise: #0EC8CB;
$silver_chalice:#ADADAD;
$white:#ffffff;
$cod_gray:#1B1B1B;
$boulder:#777777;

// Background:
$bright_turquoise: #0EC8CB;
$alabaster: #F7F7F7;
$white: #ffffff;

// Border:
$Gallery: #ececec;

// BreakPoints:
$XL: 1200px;
$LG: 992px;
$MD: 768px;
$SM: 576px;
