@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pacifico-v17-latin-regular.woff2") format("woff2"), url("../fonts/pacifico-v17-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/raleway-v18-latin-300.woff2") format("woff2"), url("../fonts/raleway-v18-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v18-latin-700.woff2") format("woff2"), url("../fonts/raleway-v18-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/raleway-v18-latin-900.woff2") format("woff2"), url("../fonts/raleway-v18-latin-900.woff") format("woff");
}
.container {
  max-width: 1500px;
  box-sizing: border-box;
  padding: 22px 160px 71px 160px;
}
.container_centr {
  margin: 0 auto;
}
.container_bg-img1 {
  background-image: url("../img/1.png");
  background-repeat: none;
  background-size: cover;
}
.container_bg-blue {
  background-color: #00c4c4;
}

.header {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
.header__logo {
  flex-grow: 1;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}
.menu__item {
  text-align: center;
  list-style-type: none;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  padding: 0 15px;
  color: #262626;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}
.menu__item:hover::before {
  content: "";
  border-top: solid 3px #ff6033;
  position: absolute;
  width: calc(100% - 30px);
  top: 0;
  left: 15px;
}
.menu__link {
  padding: 9px 0;
  display: block;
  text-decoration: none;
}

.logo__link {
  text-decoration: none;
}
.logo_title {
  font-family: "Pacifico";
  font-weight: 400;
  font-size: 50px;
  color: #262626;
  margin: 0;
  padding: 0;
}

.miniArticle {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.588235;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.miniArticle__title-heavy {
  padding: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 60px;
  margin: 0 0 5px 0;
}
.miniArticle__title-bold {
  padding: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 90px;
  margin: 0 0 5px 0;
}
.miniArticle__text {
  margin: 0 0 31px 0;
}
.miniArticle__img {
  flex-grow: 1;
}
.miniArticle_color-black {
  color: #262626;
}
.miniArticle_color-white {
  color: white;
}
.miniArticle_high {
  min-height: 770px;
}
.miniArticle_high-flex {
  padding-top: 15px;
}
.miniArticle_small {
  max-width: 370px;
}
.miniArticle_normal {
  max-width: 500px;
}
.miniArticle_right {
  justify-content: flex-end;
}

.button {
  height: 55px;
  width: 200px;
  border-color: transparent;
  box-shadow: 0 0 10px 10px;
  transition: transform 0.3s ease;
}
.button:hover {
  transform: scale(1.02);
}
.button:active {
  transform: scale(0.97);
}
.button:active, .button:focus {
  outline: none;
}
.button__text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.button_orange {
  background-color: #ff6033;
  color: white;
}

.icon {
  display: flex;
}
.icon_small {
  height: 40px;
}
.icon_centr {
  justify-content: center;
}
/*# sourceMappingURL=style.css.map */