@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNova-Regular.eot);
    src: url(./fonts/ProximaNova-Regular.eot#iefix) format('embedded-opentype'),
         url(./fonts/ProximaNova-Regular.woff) format('woff'),
         url(./fonts/ProximaNova-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNova-Bold.eot);
    src: url(./fonts/ProximaNova-Bold.eot#iefix) format('embedded-opentype'),
         url(./fonts/ProximaNova-Bold.woff) format('woff'),
         url(./fonts/ProximaNova-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: ProximaNova;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.43em;
    color: #9d9d9d;
    letter-spacing: 0.25px;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color:black;
    text-transform: uppercase;
}

.wrapper{
    max-width: 1110px;
    padding: 10px;
    margin: 0 auto;
}

.feature{
    padding: 10px;
    margin: 0 -10px;
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}
.feature section {
    padding: 35px 10px;
    width: 33.33%;
    text-align: center;
}

.feature section .icon {
    border: 1px solid #1275b9;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background-color: #1275b9;
    margin: 0 auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.feature section .icon:hover {
    background-color: white;
}

.feature section .icon svg {
    fill: white;
}
.feature section .icon:hover svg {
    fill: #1275b9;
}

.feature section h2{
    margin-bottom: 12px;
}
.feature section p{
    max-width: 230px;
    margin: 0 auto;
    line-height: 20px;
}
