*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.7em;
    padding: 15px;
}

header,
footer{
    background-color:#4A4F56;
    text-align: center;
    padding: 20px;
    color:white;
}

.todo-wrapper{
    background-color:#3B3F45;
    height: calc(100vh - 30px);
}

h1{
    margin-bottom: 20px;
}
footer,
.todo-list{
    max-width: 800px;
    margin: 0 auto;
}
.todo-list{
    list-style-type: none;
    padding: 50px 0;
}

.todo-list li {
    border-top:2px solid transparent;
    border-bottom:2px solid transparent;
    color:white;
    position: relative;
}

.todo-list li:hover {
    border-color: white;
}

.todo-list li:nth-child(odd) {
    background-color:#88839e;
}

.todo-list li:nth-child(even) {
    background-color:#7a7593;
}
.todo-list li:active{
    background-color:palevioletred;
}

.todo-list li input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 15px;
    height: 15px;
}

.todo-list li label {
    display: block;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
}

.todo-list li small {
    font-size: .7em;
}

.todo-list li small::after {
    content: ' )';
}
.todo-list li small::before {
    content: '( ';
}

.todo-list input:checked ~ label{
    text-decoration: line-through;
    opacity: .5;
}
