* {
margin: 0;
padding: 0;
transition: all .1s ease-in;
}

@font-face {
    font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;  
    src: url("/fonts/9412.ttf");
    font-style: normal; 
    font-weight: normal;
    }  

body{
    font-family:"Trebuchet MS";
    color: #EA7E7F;
    width: 1234px;
    display: flex;
}

main {
    margin: 22px;
    width: 1190px;
    background-color: #3B3F45;
}

header {
    background-color: #4A4F56;
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
}

header h2 {
    text-align: center;
    font-size: 23px;
    padding-bottom: 27px;
}

form {
    width: 800px;
    background-color:#88839E;
    align-items: center;
    margin: auto;
    font-size: 28px;
}

.list li label {
    display: block;
    cursor: pointer;
    padding: 15px;
}

.list li {
    display: block;
    list-style-type: none;
    color: white;
}

.list li:nth-child(even) {
    background-color:#7A7593;
}

.list li:hover{
    background-color:#625E77;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

input:checked + span{
    text-decoration: line-through;
    color: #acabb4;
}

small::before {
    content:"(";
}

small::after {
    content:")";
}

small {
    font-size: 18px;
    color:#CDCBCB;
}

footer {
    padding-top:25px; 
    padding-bottom: 27px;
    width: 800px;
    background-color:#4A4F56;
    margin: auto;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

footer h2::after {
    content:":)";
}
