.main{
    margin: 0 auto;
    width: 600px;
    padding: 20px;
    font-size: 0;
}
.main > div{
    width: 50%;
    padding: 15px;
    /*margin: 0 40px;*/
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
}
li{
    background-color: grey;
    border: 1px solid black;
    float: left;
    padding: 30px;

 

}
a{
    text-decoration: none;
    display: block;
}
ul{
    list-style-type: none;
}
