body {
  font-family: Open Sans;
}

.main {
  width: 1920px;
  height: 420px;
}

.cont1 {
  width: 112px;
  height: 36px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}

.text1 {
  color: #9d9d9f;
  font-size: 20px;
  font-weight: 400;
  margin-top: 51px;
  text-transform: uppercase;
  text-align: center;
}

.separator {
  color: #fefbfc;
  width: 230px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}

.facebook {
  margin-left: 886px;
}

.socal {
  margin-top: 28px;
}

.tweter {
  margin-left: 34px;
}

.google {
  margin-left: 35px;
}

.dribble {
  margin-left: 24px;
}

.copyright {
  font: Open Sans - Semibold;
  color: #9d9d9f;
  text-align: center;
  margin-top: 117px;
  font-size: 20px;
  font-weight: 600;
}

.kasper {
  color: #1da3cb;
}
