* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
}

.bolag-warapper__title {
    font-size: 30px;
}

.blog {
    list-style-type: none;
}


.blog img {
    display: block;
}

.blog__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.blog__img-wrapper {
    padding-top: 58%;
    position: relative;
    overflow: hidden;
}

.blog__item:first-child {
    display: flex;
}

.blog__item:first-child .blog__img-wrapper {
    width: 40%;
    padding-right: 15px;
    box-sizing: border-box;
    padding-top: 28%;
}

.blog__item:first-child .blog__info {
    width: 60%;
    padding-right: 15px;
    box-sizing: border-box;
}

.blog__title::first-letter {
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .blog__item:first-child {
        display: block;
    }

    .blog__item:first-child .blog__img-wrapper,
    .blog__item:first-child .blog__info {
        width: 100%;
        padding: 0;
    }

    .blog__item:first-child .blog__img-wrapper {
        padding-top: 58%;
    }
}

.rect {
    padding-top: 100%;
    background-color: red;
}

@media (max-width: 1200px) {
    .rect {
        background-color: gold;
    }
}

@media (max-width: 992px) {
    .rect {
        background-color: green;
    }
}

@media (max-width: 768px) {
    .rect {
        background-color: yellow;
    }
}

@media (max-width: 576px) {
    .rect {
        background-color: gray;
    }
}
