
.header {
    Padding:50px 10px 0 160px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 150px;
}

.logo__link {
    font-family: 'Pacifico';
    font-size: 50px;
    color: #262626;
    text-decoration: none;
 }

.navigation__list {
    display: flex;
    list-style-type: none;
}

.navigation__item {
    margin-left: 40px;
    padding-top: 5px;
    font-family: 'Raleway';
    line-height: 25px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: solid 3px transparent;
}
.navigation__item:hover {
    border-top: solid 3px #ff6033;
}

.navigation__link {
   text-decoration: none;
   color:black;
}

.page {
   max-width: 1500px;
   background: url('../img/img-2.jpg') no-repeat;
}

.main__info{
   padding:250px 0 230px 150px;
}

.main__title {
    font-family: "Raleway";
    font-weight: 900;
    font-size: 60px;
    padding-bottom: 30px;
}

.main__text {
   font-size: 17px;
   font-family: "Raleway";
   font-weight: 300;
   padding-bottom: 30px;
   line-height: 27px;
   color: #262626;
}

.main__link {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 25px;
    color: #ffffff;
    background-color: red;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #ff6033;
}

.about {
    padding:200px 0 300px;
    background-color: #00c4c4;
    background: url('../img/img-1.jpg') no-repeat;
    display: flex;
    justify-content: space-around;
}

.about__title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 90px;
    color: #ffffff;
}

 .about__text {
     max-width: 500px;
    font-weight: 300;
    font-family: 'Raleway';
    font-size: 17px;
    color: #ffffff;
    line-height: 27px;
 }
