*{
    margin: 0;
    padding: 0;
    transition: all .1s ease-in;
}

body{
    font-family: Trebuchet,  Arial, sans-serif;
    height: 100vh;
    border: 25px solid #ffffff;
    background-color: #3b3f45;
}

header{
    background-color: #4a4f56;
    text-align: center;
    color: #eb7e7f;
    padding-bottom: 30px;
    padding-top: 30px;
}

footer{
    background-color: #4a4f56;
    text-align: center;
    color: #eb7e7f;
    max-width: 800px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    font-weight: 700;
}

form{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.chebox{
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
}

/* li{
    padding: 10px;
} */

.chebox li:nth-child(2n){
    background-color: #7a7593;
}

.chebox li:nth-child(2n+1){
    background-color: #88839e;
}
.sp1{
    font-weight: 700;
    color: white;
    font-size: 16px;
}
.sp1 + span{
    color: #cdcbd2;
    font-size: 12px;
}

.sp1 ~ span:before{
    content: '(';
}
.sp1 ~ span:after{
    content: ')';
}

input:checked ~ span {
    text-decoration: line-through;
    color:  #cdcbd2;
}
.chebox li:hover{
    background-color:#625E77;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid#ffffff;
}

.chebox li:active {
    background-color: #f38507;
}

label{
    display:block;
    padding: 10px;
}
