@font-face{
    font-family: MuseoSansRounded;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/MuseoSansRounded-100.woff2') format('woff2'),
    url('../fonts/MuseoSansRounded-100.woff') format('woff');
}

.page{
    margin: 0;
    padding: 0;
    background-image: url(../img/main_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 800px;
    padding-top: 109px;
    padding-bottom: 98px;
    padding-left: 63px;
}

.conteiner__card{
    box-shadow:0 0 40px 1px rgba(0,0,0,0.5);
}

.card{
    display: block;
    box-sizing: border-box;
    border-radius: 9px;
    width: 686px;
    background-color: #152335;
    font-family: MuseoSansRounded, Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #e1e1e1;
    padding: 24px 0 16px 21px;
}

.card__header{
    padding-bottom: 16px;
}

.logo{
    display: block;
    width: 65px;
    height: 33px;
}

.card__content{
    display: flex;
}

.card__content_photo{
    padding-top: 52px;
    padding-left: 14px;
    width: 431px;
}

.card__content_info{
    width: 255px;
    letter-spacing: .5px;
    line-height: 1.1;
    box-sizing: border-box;
}

.card__content_info_header{
    margin: 0;
    font-size: 24px;
}

.card__content_info_definition{
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #b4b6b8;
    padding-bottom: 8px;
}

.raiting{
    width: 65px;
    height: 13px;
}

.rating__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

.rating__label {
    float: right;
    display: block;
    width: 13px;
    height: 13px;
    background: url(../img/star_grey.png);
    cursor: pointer;
}

.rating__label:hover, 
.rating__label:hover ~ .rating__label, 
.rating__input:checked ~ .rating__label {
    background: url(../img/star_gold.png);
}

.selection{
    display: flex;
    padding-top: 26px;
    padding-bottom: 28px;
}

.selection__size,
.selection__qty {
    display: block;
    box-sizing: border-box;
    border: 1px solid  #b4b6b8;
    width: 68px;
    height: 31px;
    margin: 1px;
    text-align: center;
    padding-top: 5px;
    background-color:  #152335;
}

.selection__size_select,
.selection__qty_select{
    color:#b4b6b8;
    background-color: #152335;
    border: none;
    text-align: center;
    text-align-last: center;
    cursor: pointer;
}

.order__button{
    width: 184px;
    height: 40px;
    background-color:#2a3545;
    color: #b4b6b8;
    font-size: 14px;
    border-style: solid;
    cursor: pointer;
}

.footter__color{
    padding-top: 37px;
    padding-left: 155px;
}

.footter__color_input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

.label_color_blue,
.label_color_white,
.label_color_red,
.label_color_light-blue {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: transparent;
    margin: 2px;
    position: relative;
}

.footter__color_input-behaviour{
    position: absolute;
    top: -5%;
    left: -5%;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.footter__color_input:not(:checked) + .label_color_blue .footter__color_input-behaviour{
    background-color: #1f273f;    
    border-radius: 7px;
    border: 1px solid white;
}

.label_color_white span{
    background-color: white;    
}

.label_color_red span{
    background-color: red;    
}

.label_color_light-blue span{
    background-color: #29e3ea;    
}

.footter__color_input:checked + .label_color_blue,
.footter__color_input:checked + .label_color_white,
.footter__color_input:checked + .label_color_red,
.footter__color_input:checked + .label_color_light-blue {
    padding: 7px 7px;
    border-radius: 9px;
    border: 2px solid white;
}

.footter__color_input:checked + .label_color_blue .footter__color_input-behaviour,
.footter__color_input:checked + .label_color_white .footter__color_input-behaviour,
.footter__color_input:checked + .label_color_red .footter__color_input-behaviour,
.footter__color_input:checked + .label_color_light-blue .footter__color_input-behaviour {
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
