.header {
    Padding: 50px 10px 0 160px;

    &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 150px;

     & .logo__link {
        font-family: 'Pacifico';
        font-size: 50px;
        color: #262626;
        text-decoration: none;
     }

     & .navigation__list  {
        display: flex;
       list-style-type: none;
      
      & .navigation__item {
        margin-left: 40px;
        padding-top: 5px;
        line-height: 25px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        border-top: solid 3px transparent;

        &:hover {
            border-top: solid 3px #ff6033;
           }
        }
    & .navigation__link {
        text-decoration: none;
        color:black;}
       }
    }
}  
