.info {
    padding:250px 0 230px 150px;

    &__title {
        font-weight: 900;
        font-size: 60px;
        padding-bottom: 30px;
    }

    &__text {
        padding-bottom: 30px;
        line-height: 27px;
        color: #262626;
      }

      &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        padding: 15px 25px;
        color: #ffffff;
        background-color: red;
        display: inline-block;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        background-color: #ff6033;
      }
}




