.main {
  width: 1500px;
  font-family: $defaultFont, $fallbackFont;
  font-size: $defaultFontSize;
}

.footer {
  width: 1500px;
  font-family: $defaultFont, $fallbackFont;
  font-size: $defaultFontSize;
}
