*{
    margin: 0;
    padding: 0;
}
  body{
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-size: 20px;
      line-height: 1.53;
      background-color: #bac5db;
  }
input, button{
    font-family: inherit;
    font-size: inherit;
    border: none;
}
.subscribe-form{
    max-width: 666px;
    margin: 0 auto;
    background-color: #353a45;
    border-radius: 24px;
    text-align: center;
    color: white;
    padding: 83px 60px 61px;
    box-sizing: border-box;
}
.subscribe-wrapper{
    padding: 104px 10px;
}
.subscribe-form::before{
    content: "";
    width: 92px;
    height: 92px;
    display: block;
    background-image: url(subscribe.png);
    background-repeat: no-repeat;
    background-size: 92px;
    background-position: center;
    margin: -128px auto 17px;
}
.subscribe-form h1{
    color: #538fff;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
    
}
.subscribe-form h1+p{
    font-size: 22px;
    margin-bottom: 36px;
}
.subscribe-form h1+p+div{
    font-size: 0;
    margin-bottom: 29px;
}
.subscribe-form input,
.subscribe-form button{
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}
.subscribe-form input{
    width: calc(100% - 161px - 13px);
    margin-right: 13px;
    padding: 0 19px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
}

.subscribe-form button{
    max-width: 161px;
    width: 100%;
    min-width: 130px;
    background-color: #538fff;
    color: white;
    text-transform: uppercase;
    letter-spacing: .6px;
}
.subscribe-form p:last-of-type{
    font-style: italic;
    color: #787d87;
}
