.blog {
    background-color: $bgColorBlog;
    padding: 33px 0 105px;

    &__content {
        color: $textColorWhite;
        text-align: center;
        margin: 0 auto;

        &-heading {
            font-size: 90px;
            font-weight: 700;
            margin-bottom: 4px;
        }

        &-text {
            margin-bottom: 12px;
        }
    }

    &__link {
        display: block;
        position: relative;
        box-shadow: $defaultBoxShadow;

        &:hover {
            box-shadow: $blogHoverBoxShadow;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $bgLinkBlog;
            background: $blogLinkGradient;
        }

        &-heading {
            position: absolute;
            top: 205px;
            left: 20px;
            z-index: 1;

            &-title {
                color: $textColorWhite;
                font-size: 20px;
                line-height: 25px;
                font-weight: 700;
            }

            &-text {
                margin-top: 15px;
                color: $textColorWhite;
                font-size: 13px;
                font-weight: 300;
                opacity: 0.9;
            }
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__date {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        background-color: $gray;
        text-align: center;
        font-size: 21px;
        font-weight: 900;
        line-height: 1;
        align-items: center;
        z-index: 20;

        &-number,
        &-month {
            color: white;
        }

        &-number {
            font-size: 32px;
            font-weight: 700;
        }
    }

    &__btn {
        margin: 35px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 55px;
        background-color: $bgColorBtnBlog;
        text-decoration: none;
        box-shadow: $defaultBoxShadow;

        &:hover {
            transform: scale(1.1);
            transition: transform .5s ease-in-out;
            box-shadow: $blogHoverBoxShadow;
        }

        &-text {
            font-size: 20px;
            color: $textColorWhite;
        }
    }
}

@media (max-width:$XL) {
    .blog {
        &__link {
            max-width: 370px;
            margin: 0 auto;
        }

    }
}

@media (max-width:$SM) {
    .blog {

        &__content {
            color: $textColorWhite;
            text-align: center;
        }

        &__link {
            &-heading {
                top: 115px;
            }
        }
    }
}
