*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

body{
    border: #ffffff solid 20px;
    background-color: #3B3F45;
    padding-top: 0px;
    margin: 0px;
    position: relative;
    min-width: 100vh;
    min-height: 92.5vh;
    /*left:0;
    right:0;
    top:0;
    bottom:0;*/
}

header{
    margin-top: 0px;
    background-color: #4A4F56 ;
    text-align: center;
    color: #EB7E7F;
    padding-bottom: 10px;
    padding-top: 10px;
}

header h1 {
    font-size: 24px;
}
footer{
    background-color: #4A4F56 ;
    text-align: center;
    color: #EB7E7F;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    padding-top: 10px;
    padding-bottom: 10px;
}
form{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

label>.box{
    padding: 5px;
    background-color: #88839E;
    color: #ffffff;
}
label:nth-child(2n)>.box{
    background-color:#7A7593;
}

.box:hover{
    background-color:#625E77;
    border-top: 3px;
    border-bottom: 3px;
    border-style: solid;
    border-color: #ffffff;
    border-left: 0px;
    border-right: 0px;
    transition: all .1s ease-in;
}

input:checked + spam {
    text-decoration: line-through;
}

label>.box:active{
    background-color:  #EB7E7F;
}
#one ~ spam::after{
    content: " ( for the next lessons about CSS )";
    font-size: 8px;
    color: #ffffff;
}
#two ~ spam::after{
    content: " ( for more CSS manipulations )";
    font-size: 8px;
    color: #ffffff;
}
#three ~ spam::after{
    content: " ( because they are awesome )";
    font-size: 8px;
    color: #ffffff;
}
#four ~ spam::after{
    content: " ( hm... they alvays disappear )";
    font-size: 8px;
    color: #ffffff;
}
#six ~ spam::after{
    content: " ( for my friends )";
    font-size: 8px;
    color: #ffffff;
}
