@font-face {
    font-family: "LucidaSansUnicode", "LucidaGrande";
    src: url(font/LucidaSansUnicode.ttf),
         url(font/LucidaGrande.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: "LucidaSansUnicode", "LucidaGrande", sans-serif;
    font-size: 18px;
    color: #ffff;
}

.main-wrap {
    min-height: 100vh;
    background-color:#3399CC;
    border: 20px solid #2B81AC;
}

.city-wrap {
    width: 850px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

.city-wrap h2 {
    padding-bottom: 20px;
    font-weight: normal;
}

.city-wrap p {
    padding-top: 20px;
    font-weight: normal;
}

.city-wrap ul {
    list-style: none;
    border: 6px solid white;
    font-size: 0;
    background-color: white;
}

.city-wrap ul li {
    font-size: 20px;
    display: inline-block;
    width: 25%;
    border-bottom: 6px solid #ffff;
    box-sizing: border-box;
    text-align: center;
    padding: 25px 25px;
    line-height: 1.2;
    opacity: .5;
}

.city-wrap span {
    padding-bottom: 20px;
}

.city-wrap ul p {
    opacity: .5;
}

.wi.wi-sunrise {
    opacity: 1;
    font-size: 25px;
}

.wi {
    font-size: 30px;
}

.city-wrap ul li:hover{
    opacity: 1;
    transition: all .3s ease-in;
}
.city-wrap ul li:nth-child(1){
    background-color: #3399CC;
    width: 50%;
    border-right: 6px solid #ffff;
}
.city-wrap ul li:nth-child(2){
    background-color:#33CCCC;
    border-right: 6px solid #ffff;
}
.city-wrap ul li:nth-child(3){
    background-color:#996699;
}
.city-wrap ul li:nth-child(4){
    background-color: #C24747;
    border-right: 6px solid #ffff;
}
.city-wrap ul li:nth-child(5){
    background-color: #E2674A;
    border-right: 6px solid #ffff;
}
.city-wrap ul li:nth-child(6){
    background-color: #FFCC66;
    border-right: 6px solid #ffff;
}
.city-wrap ul li:nth-child(7){
    background-color: #99CC99;
}
.city-wrap ul li:nth-child(8){
    background-color:#669999;
    border-right: 6px solid #ffff;
}

.city-wrap ul li:nth-child(9){
    background-color: #CC6699;
    width: 50%;
    border-right: 6px solid #ffff;
    
}
.city-wrap ul li:nth-child(10){
    background-color: #339966;
}
.city-wrap ul li:nth-child(11){
    background-color: #666699;
    width: 100%;
    border: none;
}
