.blog__header{
    width: 570px;

    margin: 0 auto;
    padding: 66px 0 0 0;
    text-align: center;
    color: white;
    line-height: 1.5;
    padding-bottom: 14px;
}

.blog__header_title{
    font-size: 90px;
    padding-bottom: 9px;
}

.blog__header_subtitle{
    font-size: 17px;
}
