$defaultFont: 'Raleway';
$fontStyle: 'normal';
$defaultFont300Path: '../fonts/raleway-v18-latin-300';
$defaultFont700Path: '../fonts/raleway-v18-latin-700';
$defaultFont900Path: '../fonts/raleway-v18-latin-900';
$follback: Arial, Helvetica, sans-serif;
$mainFont: $defaultFont, $follback;
