* {
  margin: 0;
  padding: 0;
}
* {
  transition: all 0.1s ease-in;
}

@font-face {
  font-family: "Trebuchet MS", Arial, sans-serif;
  src: url(../fonts/trebuchet.ttf);
}
.header-class {
  background-color: #515a59;
  text-align: center;
  padding: 20px;
  color: tomato;
}
h1 {
  margin-bottom: 15px;
}
.footer-class {
  background-color: #515a59;
  text-align: center;
  width: 660px;
  margin: 0 auto;
  padding: 20px;
  font-size: 17px;
  color: tomato;
}

body {
  background-color: #383f3e;
  font-family: "Trebuchet MS";
  font-weight: normal;
}

.food-block {
  margin: 30px auto;
  list-style-type: none;
  border: 1px solid black;
  width: 700px;
  color: white;
}
.food-block > li {
  padding: 10px;
}
.food-block > li:not(:last-child) {
  border-bottom: 1px solid black;
}
.food-block li:nth-child(odd) {
  background-color: #7c7b91;
}
.food-block li:nth-child(even) {
  background-color: #908ea2;
}
.food-block li label {
  display: block;
  padding-left: 30px;
}

.food-block li:hover {
  background-color: #2c3d3b;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
.food-block li:active {
  background-color: tomato;
}
.food-block input:checked ~ label {
  text-decoration: line-through;
  opacity: 0.2;
}
small::before {
  content: "( ";
}

small::after {
  content: " )";
}
