@font-face {
    font-family: "Miso";
    src: url("../fonts/miso-bold.woff2") format("woff2"),
    url("../fonts/miso-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Miso";
    src: url("../fonts/miso-light.woff2") format("woff2"),
    url("../fonts/miso-light.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "Miso";
    src: url("../fonts/miso-regular.woff2") format("woff2"),
    url("../fonts/miso-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Miso, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    font-weight: normal;
}
.flex-container {
    padding-top: 50px;
}
.flex-items {
    background-color: #fdde7e;
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
}
.flex-items li {
    background-color: white;
    margin: 15px;
    margin-top: 80px;
    margin-bottom: 75px;
    width: calc(33% - 30px);
    max-width: 360px;
    height: 441px;
}
.flex-items li:nth-child(2) {
    margin-top: 50px;
    height: 500px;
    margin-bottom: 50px;
}
.flex-items h2 {
    margin-top: 42px;
    color: #02995b;
    font-size: 70px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.75px;
}
.flex-items img {
    margin-top: 33px;
    margin-bottom: 38px;
}
.flex-items li:nth-child(2) > img {
    margin-top: 62px;
}

.flex-items h3 {
    font-size: 56px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 34px;
}

.flex-items p {
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 26px;  
}
