.u-d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-space-between {
    justify-content: space-between;
}

.u-m-b {
    margin-bottom: 30px;
}

.u-m-t {
    margin-top: 30px;
}

.u-center-text {
    text-align: center;
}

.u-red-text {
    color: $color-red;
    font-weight: 700;
}
