body {
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: 1.875;
    border-radius: 5px;
    border: 1px solid #bababa;
    width: 100%;
    padding: 0 20px;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    border-color: #2ec06c;
    outline: none;
}

input {
    height: 50px;
}

textarea {
    padding: 10px 20px;
    resize: none;
}

strong {
    font-weight: bold;
}

h1 {
    font-family: 'Asap', Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 25px 0 15px;
}

.container.any-project {
    padding: 50px 10px;
}

.main-title strong {
    color: #2ec06c;
}

.main-title+p {
    text-align: center;
    margin-bottom: 50px;
}

.social-btn {
    display: block;
    padding-top: 100%;
    border: 1px solid transparent;
    position: relative;
    border-radius: 5px;
}

.social-btn,
.social-btn:hover svg path {
    transition: background-color .5s ease-in-out, fill .5s ease-in-out;
}

.social-btn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-btn:hover svg path {
    fill: #ffffff;
}

.social-btn.facebook {
    border-color: rgb(59, 89, 152);
}

.social-btn.twitter {
    border-color: rgb(0, 172, 237);
}

.social-btn.instagram {
    border-color: rgb(81, 127, 164);
}

.social-btn.dribble {
    border-color: rgb(255, 0, 132);
}

.social-btn.facebook:hover {
    background-color: rgb(59, 89, 152);
}

.social-btn.twitter:hover {
    background-color: rgb(0, 172, 237);
}

.social-btn.instagram:hover {
    background-color: rgb(81, 127, 164);
}

.social-btn.dribble:hover {
    background-color: rgb(255, 0, 132);
}

.contact-form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contact-form .row:last-child {
    flex-grow: 1;
}

.contact-message {
    position: relative;
    height: 100%;
}

.contact-message textarea {
    display: block;
    height: 100%;
}

.contact-message .btn-form {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #2ec06c;
}
