@font-face{
    font-family: Miso;
    src: url('../fonts/miso-regular.woff2') format('woff2'),
    url('../fonts/miso-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* font-family: 'Miso-bold';
    src: url('../fonts/miso-bold.woff2') format('woff2'),
    url('../fonts/miso-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal; */
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Miso, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    /* background-color: #fdde7e;
    height: 100vh; */
}

.container{
    display: flex;
    width: 1200px;
    height: 600px;
    background-color: #fdde7e;
    margin: auto;
    justify-content: space-around;
    padding: 0 15px;
}

.container div{
    display: block;
    background-color: white;
    align-self: center;
    width: 360px;
    height: 440px;
    border-radius: 4px;
}

.h-13{
    font-size: 70px;
    font-weight: 700;
    color: #02995b;
}

.card2{
    padding: 30px 0;
}

.h-2{
    font-size: 70px;
    font-weight: 700;
    color: #02995b;
    margin-top: -20px;
    margin-bottom: 20px;
}

h2{
    font-size: 56px;
}


