@font-face{
    font-family: 'Museo';
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/MuseoSansRounded-100.woff2") format("woff2"),
    url("../fonts/MuseoSansRounded-100.woff") format("woff");
}

.page{
    margin: 0;
    padding: 0;
    font-family: 'Museo', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.2857;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main{
    padding: 110px 0;
}

.container{
    max-width: 686px;
    box-sizing: border-box;
}

.container_center{
    margin: 0 auto;
}

.container_bg-color-blue{
    background-color: #111a28;
    border-radius: 7px;
    box-shadow: 0 0 32.5px rgba(0,0,0,0.82);
}

.logo {
    width: 65px;
}

.logo__link {
    display: block;
}

.logo__img {
    display: block;
    max-width: 100%;
}

.container__logo{
    padding: 20px;
}

.product-card{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.product-card__slider {
    flex-grow: 1;
    width: calc(100% - 240px);
}

.product-card__info {
    width: 240px;
    box-sizing: border-box;
}

.product-card__slider-list {
    padding-top: 52px;
    margin-bottom: 74px;
}

.product-card__slider-img{
    display: block;
    margin: 0 auto;
}

.product-card__slider-dots-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
    justify-content: center;
    align-items: center;
}

.product-card__slider-dots-item{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.product-card-dot{
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: white;
    margin: 0 4px;
}

.product-card-dot_color-blue{
    background-color: #1f273f;
}

.product-card-dot_color-white{
    background-color: #ffffff;
}

.product-card-dot_color-red{
    background-color: #ed3333;
}

.product-card-dot_color-aqua{
    background-color: #29e3ea;
}

.product-card-dot:hover,
.product-card__slider-dots-item:checked+.product-card-dot{
    border: 2px solid #7e838b;
    width: 12px;
    height: 12px;
}

.product-card__title{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1px;
}

.product-card__title_color,
.product-card__model-name_color{
    color: #e1e1e1;
}

.product-card__model-name {
    margin: 5px 0 0 0;
    letter-spacing: .3px;
    margin-bottom: 24px;
}

.product-card__model-name_color {
    opacity: .5;
}

.raiting {
    list-style-type: none;
    margin: 0 0 27px 0;
    padding: 0;
    display: flex;
    width: 184px;
}

.raiting__item {
    width: 12px;
    height: 12px;
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 2px;
}

.raiting__item:last-child {
    margin-right: 0;
}

.raiting__item_active {
    background-image: url(../images/star_active.svg);
}

.options{
    display: flex;
    margin-bottom: 29px;
}

.button_primiry,
.options__btn{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: 0.28px;
}

.options__btn{
    width: 69px;
    height: 32px;
    margin-right: 2px;
    text-align-last: center;
}

.options__btn_bg-color,
.button_primiry {
    color: #e1e1e1;
    border: 1px solid #ffffff;
    opacity: .26;
}

.options__btn_bg-color{
    background-color: #111a28;
}

.button{
    width: 184px;
    height: 40px;
}

.button_primiry{
    background-color: #4c525a;
}

