@font-face {
    font-family: 'ProximaNova';
    src: url('../font/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../font/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../font/georgiai-webfont.woff2') format('woff2'),
         url('../font/georgiai-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Georgia';
    src: url('../font/ofont.ru_georgia-webfont.woff2') format('woff2'),
         url('../font/ofont.ru_georgia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Heavy';
    src: url('../font/FuturaPT-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.page{
    padding-top: 141px;
    display: block;
    box-sizing: border-box;
    max-width: 1200px;
    background-color: #464f54;
    font-family: 'Georgia', Arial, Helvetica, sans-serif;
}

.text {
    position: relative;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 1060px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
}

.text::before {
    content: '';
    display: block;
    width: 2px;
    height: 770px;
    background-color: #e8eced;
    position: absolute;
    left: 69px;
}

.text__section {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 806px;
}

.autor {
    padding-top: 202px;
    color: #b4b4b4;
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 6.72px;
}

.maintitle {
    padding-top: 47px;
    color: #2a2a2a;
    font-family: 'Futura PT Heavy', Arial, Helvetica, sans-serif ;
    font-size: 78px;
    line-height: 73.52px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5.28px;
}

.titletext {
    color: #8f8f8f;
    font-size: 30px;
    font-style: italic;
    line-height: 62.44px;
    padding-bottom: 25px;
}

.part {
    color: #000000;
    font-size: 27px;
    line-height: 40.38px;
    text-align: justify;
    padding-bottom: 30px;
}
span {
    font-size: 27px;
    line-height: 40.38px;
    text-align: justifyLeft;
    font-style: italic;
}

.block__input {
    z-index: 100;
    position: absolute;
    left: 324px;
    top: 47px;
    box-shadow: -4px -4px 59px rgba(0, 0, 0, 0.16);
    background-color: #181818;
    display: block;
    padding-left: 60px;
    padding-bottom: 70px;
}

.title {
    display: block;
    padding-top: 42px;
    color: #767676;
    font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4.8px;

}

.input-text {
    width: 816px;
    display: block;
    box-sizing: border-box;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 48px;
    background-color:#181818;
    border: none;
    border-bottom: 3px solid #767676;
}


input::placeholder {
    color: white;
}

.conteiner-icon {
    top: 234px;
    left: 388px;
    position: absolute;
    width: 771px;
    box-shadow: -4px -4px 59px rgba(0, 0, 0, 0.16);
    background-color: #fbc02d;
    padding: 22px 0 22px 42px;
}

.icon {
padding-right: 25px;
}

