@font-face {
    font-family: Lato;
    src: url(../font/lato-light.woff2) format("woff2"), url(../font/lato-light.woff) format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: Miso;
    src: url(../font/miso-lig.woff2) format("woff2"), url(../font/miso-lig.woff) format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Miso;
    src: url(../font/miso-bol.woff2) format("woff2"), url(../font/miso-bol.woff) format("woff");
    font-style: normal;
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Lato;
    font: 20px;
    line-height: 1.3;
    color: #333333;
    background-color: #fdde7e;
}
.cup-wrapper {
    display: flex;
    align-items: center;
    padding: 35px 15px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}
.cup-wrapper .cup-item {
    width: 33.33%;
    padding: 15px;
    text-align: center;
}
.cup-wrapper .cup-item > div {
    background-color: #ffffff;
    padding: 43px 0 30px;
    box-shadow: 0 5px 7px -4px black;
    border-radius: 10px;
}
.cup-wrapper .cup-item:nth-child(2) > div {
    padding: 68px 0 54px;
}
.cup-item strong,
.cup-item h2 {
    font-family: Miso;
}

.cup-item strong {
    color: #02995b;
    font-size: 70px;
    font-weight: bold;
}

.cup-wrapper .cup-item:nth-child(2) > div p:first-of-type {
    margin-top: -36px;
    margin-bottom: 24px;
}
.cup-wrapper .cup-item:nth-child(2) > div img {
    margin-bottom: 25px;
}
.cup-item > div p:first-of-type {
    margin-top: -22px;
    margin-bottom: 6px;
}
.cup-item img {
    margin-bottom: 14px;
}
.cup-item h2 {
    font-weight: normal;
    font-size: 56px;
    margin-bottom: 12px;
}
.cup-item h2 + p {
    max-width: 150px;
    margin: 0 auto;
    font-weight: 300;
}
