.footer{
    background-color: $MineShaft;
    color: $Silver;
    font-size: 16px;

    &__row{
        padding: 20px 15px 10px;
        justify-content: space-between;
    }

    &_logo{
        padding-right: 50px;
        padding-top: 5px;
    }

    &_developer{
        font-size: 15px;
    }

    &_developer strong{
        color: $RadicalRed;
        font-size: 700;
    }
}

@media (max-width: 768px){
    .footer__row{
        flex-direction: column;
        align-items: center;
    }
    
    .footer_logo{
        padding: 10px;
    }
}
