.blog {
    margin: 0 auto;
    background-color: $Heliotrope;
    color: $white;
    padding-top: 50px;
    padding-bottom: 104px;
}

.blog__row{
    justify-content: center;
}

.blog__header{
    text-align: center;
}

.blog__header_title{
    font-size: 90px;
    font-weight: 700;
    padding-bottom: 24px;
}

.blog__header_subtitle{
    line-height: 1.5;
    padding-bottom: 15px
}

.blog__article {
    position: relative;
    display: block;
}

.blog__article_image {
    @include box-shadow;
    width: 100%;
}

.blog__article_image:hover {
    @include box-shadow-hover
}

.blog__article_link::after {
    position: absolute;
    bottom: 15px;
    top: 50%;
    left: 15px;
    right: 15px;
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    pointer-events: none;
}

.blog__article_date {
    position: absolute;
    top: 45px;
    left: 45px;
    display: block;
    text-transform: uppercase;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding-top: 4px;
    pointer-events: none;
}

.blog__article_date span:first-child {
    font-size: 32px;
    font-weight: 700;
    line-height: 0.8;
}

.blog__article_date span:last-child {
    font-size: 21px;
    font-weight: 900;
}

.blog__article_content {
    position: absolute;
    top: 220px;
    left: 35px;
    pointer-events: none;
}

.blog__article_header {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 700;
    margin-right: 20px;
}

.blog__article_text {
    margin-top: 17px;
    font-size: 13px;
}

.blog__main_row{
    padding-bottom: 32px;
}

.blog__button {
    display: block;
    width: 200px;
    height: 55px;
    font-size: 20px;
    font-weight: 300;
    margin: 0 auto;
    background-color:$RedOrange;
    text-align: center;
    text-transform: uppercase;
    @include box-shadow;
}

.blog__button:hover {
    @include box-shadow-hover;
}

.blog__button_link {
    display: block;
    text-decoration: none;
    color: $white;
    height: 100%;
    padding-top: 15px;
}

@media (max-width: 1200px){
    .blog__main_row{
        flex-direction: column;
        align-items: center;
    }
}
