$defaultFont: 'Raleway';
$fontStyle: 'normal';
$defaultFont300Path: '../fonts/Raleway-Light';
$defaultFont700Path: '../fonts/Raleway-Bold';
$defaultFont900Path: '../fonts/Raleway-Black';

$follback: Arial, Helvetica, sans-serif;
$mainFont: $defaultFont, $follback;
$defaultFontSize: 17px;

$Orange: #ff6033;
$MineShaft: #262626;
$white: #ffffff;
$Robin_sEggBlue_1: #00BBBB;
$Malibu: #70BFFF;
$BrightSun: #FFE92F;
$Horizon: #5585A2;
$SilverChalice: #A1A1A1;
$Atlantis: #96B92C;
$Heliotrope: #B07CF7;
$RedOrange: #F72B3B;
$Robin_sEggBlue_2: #00C4C4;
$Silver: #B9B9B9;
$RadicalRed: #FF2B58;

$textColorDefault_1: $MineShaft;
$textColorDefault_2: $white;
$textColorSubscribeForm: $SilverChalice;
$textColorFooter: $Silver;
$textColorFooterLove: $RadicalRed;
